@font-face {
  font-family: "MioFont";
  src: url("./files/fonts/fonnts.com-Roc_Grotesk_Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url("./files/fonts/fonnts.com-Roc_Grotesk_Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url("./files/fonts/fonnts.com-Roc_Grotesk_Condensed_Black.otf") format("opentype");
  font-weight: 900; /* o il peso appropriato */
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url("./files/fonts/fonnts.com-Roc_Grotesk_Condensed_Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url("./files/fonts/fonnts.com-Roc_Grotesk_Condensed_ExtraBold.otf") format("opentype");
  font-weight: 800; /* o il peso appropriato */
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url("./files/fonts/fonnts.com-Roc_Grotesk_Condensed_ExtraLight.otf") format("opentype");
  font-weight: 200; /* o il peso appropriato */
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url("./files/fonts/fonnts.com-Roc_Grotesk_Condensed_Heavy.otf") format("opentype");
  font-weight: 700; /* o il peso appropriato */
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url("./files/fonts/fonnts.com-Roc_Grotesk_Condensed_Light.otf") format("opentype");
  font-weight: 300; /* o il peso appropriato */
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url('./files/fonts/fonnts.com-Roc_Grotesk_Condensed_Medium.otf') format("opentype");
  font-weight: 500; /* o il peso appropriato */
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url('./files/fonts/fonnts.com-Roc_Grotesk_Condensed_Thin.otf') format("opentype");
  font-weight: 100; /* o il peso appropriato */
  font-style: normal;
}

@font-face {
  font-family: "MioFont";
  src: url('./files/fonts/fonnts.com-Roc_Grotesk_Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "MioFont";
}

li {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

/* 
firstPage
 */

#firstPage {
  background-color: #efefef;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 70px 150px;
  position:relative;
}

.left_side_firstPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  gap: 40px;
}
.title_firstPage {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
}
.title_firstPage_title h1 {
  color: #ab7df4;
  font-size: 80.5px;
  font-weight: 800;
  margin: 20px 0;
  line-height: 80px;
}
.title_firstPage_title img {
  width: 80%;
  height: none;
}
.title_firstPage p {
  font-size: 30.5px;
  font-weight: 500;
}
.title_firstPage_img {
  width: 100%;
}

.vantaggi_firstPage {
  margin-top: 30px;
}
.list_vantaggi_firstPage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 20px;
}

.list_vantaggi_firstPage p {
  font-size: 24, 1px;
}
.container_title_form {
  position: relative;
  width: 100%;
  height: 100vh;
}

.title_firstPage_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  z-index: 1;
}

.title_firstPage_img img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;

}

#right_side_firstPage {
  position: relative;
  width: 60%;
  background-color: white;
  padding: 40px;
  border: 3px solid black;
  max-width: 100vh;
  margin-top: 40px;
  z-index: 2; 
  margin-left:auto;
}

/* MOBILE VIEW first page */
@media screen and (max-width: 1190px) {
  #firstPage{
    height: 100%;
  }
  .title_firstPage_img{
    display: none;
  }
  .title_firstPage_img img{
    display: none;
  }
  .left_side_firstPage{
    width: 100%;
    max-width: none;
  }
  #right_side_firstPage{
    margin-top: none;
    margin-left: none;
    width: 100%;
  }
  .container_title_form{
    height: 100%;
  }

}
@media screen and (max-width: 950px) {
  #firstPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .title_firstPage_title img{
    width: 50%;
  }
  .left_side_firstPage{
    gap: 0px;
  }
  br{
    display: none;
  }
  .container_title_form{
    height: 100%;
  }
}


/* 

secondPage

*/

.secondPage {
  width: 100%;
  height: 100%;
  padding: 70px 150px;
}
.button_secondPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button_secondPage button {
  font-size: 42px;
  padding: 10px 50px;
  font-weight: 700;
  color: white;
  background-color: #ab7df4;
  border: none;
  border-radius: 10px;
}

/* text */

.text_secondPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.left_side_text_secondPage h2 {
  color: #ab7df4;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
}
.left_side_text_secondPage p {
  font-size: 25.6px;
  padding-top: 15px;
  line-height: 40px;
}
.violet_text {
  color: #ab7df4;
}
.vantaggi_secondPage {
  border: 1px solid #ab7df4;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 60px 0;
  padding: 20px;
}
.img_secondPage {
  display: flex;
  align-items: center;
  gap: 10px;
}
.img_secondPage p {
  font-size: 19.9px;
  font-weight: 800;
}

/* 

thirdSection

*/
#thirdPage {
  width: 100%;
  height: 100%;
  padding: 70px 150px;
  background-color: #efefef;
}
.title_thirdPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title_thirdPage h2 {
  color: #ab7df4;
  font-size: 74.4px;
  font-weight: 800;
  margin: 15px;
}
.title_thirdPage h3 {
  color: white;
  font-size: 42px;
  font-weight: 800;
  background-color: #ab7df4;
  border-radius: 10px;
  padding: 10px 15px;
}
.section_thirdPage {
  padding: 40px 0;
}
.steps_thirdPage {
  display: flex;
  align-items: center;
  padding: 30px 0;
  gap: 40px;
}
.section_thirdPage p {
  font-size: 29.8px;
}

/* 
FOURTH SECTION
*/
#fourthPage {
  background-color: black;
  padding: 70px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fourthPage h2 /* , .buttons_fourthPage p */ {
  font-size: 56px;
  font-weight: 800;
  color: #ab7df4;
  margin-bottom: 40px;
}
.buttons_fourthPage {
  display: flex;
  align-items: center;
  gap: 30px;
}
.buttons_fourthPage p {
  color: #ab7df4;
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 49px;
  font-weight: 800;
  text-align: center;
}

/* 
fifhtPage
 */

#fifthPage {
  padding: 80px 150px;
  height: 100%;
}
#fifthPage h2 {
  font-size: 72px;
}
.section_fifthPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.section_fifthPage img {
  width: 50%;
  padding-top: 70px;
}
.section_fifthPage div {
  width: 50%;
}
.section_fifthPage div p {
  font-size: 35.2px;
}
.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.team p {
  font-size: 45px;
  font-weight: 800;
  color: #ab7df4;
  text-decoration:underline;
}

/* 
sixthPage
*/
#sixthPage {
  background-color: #ab7df4;
  padding: 60px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sixthPage h2 {
  font-size: 56px;
  color: white;
}
.black_text {
  color: black;
}
.container_cards_sixthPage {
  display: flex;
  padding-top: 40px;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card p {
  text-align: center;
}
.card p,
.card h3 {
  font-size: 28px;
  color: white;
}
#line_ai{
  text-decoration: line-through;
}

/* seventhPage */
#seventhPage{
  padding: 60px 150px;
  background-color: #EFEFEF;
}
#seventhPage h2{
  font-size: 56px;
  font-weight: 800;
}
.logo_sponsors{
  display: flex;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.logo_sponsors img{
  width: 100%;
  max-width: 150px;

}
.contacts{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: nowrap;
  background-color:#ab7df4;
  width: 100%;
  padding: 30px 150px;
}
.info_contacts{
  display: flex;
  align-items: center;
justify-content: center;
}
.info_contacts img{
  width: 100%;
  max-width: 70px;
}
.info_contacts p{
  font-size: 20px;
}
/* MOBILE */
/* FIRSTpAGE */
